# Greenlight build results
Source/Builds/Greenlight/Output/Bin/
Source/Builds/Greenlight/Output/Obj/

# Alpha build results
Source/Builds/Alpha/CoDMP/Output/
Source/Builds/Alpha/CoDMP/Output/
Source/Builds/Alpha/default_mp/Output/
Source/Builds/Alpha/default_mp/Output/

# Press build results
Source/Builds/Press/CoDMP/Output/
Source/Builds/Press/CoDMP/Output/
Source/Builds/Press/default_mp/Output/
Source/Builds/Press/default_mp/Output/

# Phoenix build results
Source/Builds/Phoenix/Output/Bin/
Source/Builds/Phoenix/Output/Obj/

# Emulation build results
Source/Builds/Emulation/Output/Bin/
Source/Builds/Emulation/Output/Obj/

# Mob of the Dead First Playable build results
Source/Builds/Mob of the Dead First Playable/Output/Bin/
Source/Builds/Mob of the Dead First Playable/Output/Obj/

# Origins First Playable build results
Source/Builds/Origins First Playable/Output/Bin/
Source/Builds/Origins First Playable/Output/Obj/

# Origins Final build results
Source/Builds/Origins Final/Output/Bin/
Source/Builds/Origins Final/Output/Obj/

# RFAZIO build results
Source/Builds/RFAZIO/Output/Bin/
Source/Builds/RFAZIO/Output/Obj/

*.user
*.sdf
*.suo
*.opensdf
*.ipch