
# Greenlight build results
Builds/Greenlight/Output/bin/
Builds/Greenlight/Output/obj/

# Alpha build results
Builds/Alpha/Output/bin/
Builds/Alpha/Output/obj/

# Phoenix build results
Builds/Phoenix/Output/bin/
Builds/Phoenix/Output/obj/

# Emulation build results
Builds/Emulation/Output/bin/
Builds/Emulation/Output/obj/

# RFAZIO build results
Builds/RFAZIO/Output/bin/
Builds/RFAZIO/Output/obj/

*.user
*.sdf
*.suo
*.opensdf
*.ipch