
# Greenlight build results
Builds/Greenlight/Output/Bin/
Builds/Greenlight/Output/Obj/

# Alpha build results
Builds/Alpha/Output/Bin/
Builds/Alpha/Output/Obj/

# Press build results
Builds/Press/Output/Bin/
Builds/Press/Output/Obj/

# Phoenix build results
Builds/Phoenix/Output/Bin/
Builds/Phoenix/Output/Obj/

# Emulation build results
Builds/Emulation/Output/Bin/
Builds/Emulation/Output/Obj/

# Mob of the Dead First Playable build results
Builds/Mob of the Dead First Playable/Output/Bin/
Builds/Mob of the Dead First Playable/Output/Obj/

# Origins First Playable build results
Builds/Origins First Playable/Output/Bin/
Builds/Origins First Playable/Output/Obj/

# Origins Final build results
Builds/Origins Final/Output/Bin/
Builds/Origins Final/Output/Obj/

# RFAZIO build results
Builds/RFAZIO/Output/Bin/
Builds/RFAZIO/Output/Obj/

*.user
*.sdf
*.suo
*.opensdf
*.ipch